<!DOCTYPE html>
<html>
  <meta charset="utf-8"/>
  <link rel="icon" href="{{request.static_url('floof:static/icon.png')}}" type="image/png"/>
  
  <!-- HEAD -->
  <head>
    <title>Floofy!</title>
    <style>
      body {margin: 0; padding: 0; position: fixed; background-color: #000;}
    </style>
  </head>
  
  <!-- BODY -->
  <body>
    <!-- Save incoming Python variables to JavaScript variables -->
    <script>var testing = "{{ project|safe }}";</script>
    <script>var files = JSON.parse('{{ files|safe }}');</script>
    
    <!-- Include jQuery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
    <script src="{{request.static_url('floof:static/jquery.min.js')}}"></script>
    
    <script>
      $("body").on("contextmenu", "canvas", function(e){return false;});
    </script>
    
    <!-- JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.11/pixi.min.js"></script> -->
    <!-- <script src="http://floof.space/static/spritesheet.js"></script> -->
    <script src="{{request.static_url('floof:static/pixi.min.js')}}"></script>
    <script src="{{request.static_url('floof:static/floof.js')}}"></script>
  </body>
</html>
